 /*IOS DESIGN MADE BY NGUYEN TRUONG */ 

 .swal2-popup{
  border-radius: 3em;
  background: #ffffffe6 !important;
}
.swal2-title{
  font-family: 'Muli', sans-serif !important;
}
.swal2-styled{
  border-radius: 2em !important;
  padding-right: 12px !important;
  padding-left: 12px !important;
  font-size: 14px !important;
}
h1{
  font-family: Muli !important;
  font-weight: 500 !important;
}
/*nút a thay thế cho button */
.chedobang { border: 0px solid;
  border-radius: 3em;
  padding: 8px 14px;
  font-size: 14px; margin-left: 5px;   
  background-color: #e7e7e7;
}
.chedobang:hover{
  background-color: #ccc;
}