 /*IOS DESIGN MADE BY NGUYEN TRUONG */ 

 .swal2-popup{
  border-radius: 3em;
  background: #ffffffe6 !important;
  width: auto !important;
  max-width: 500px !important;
}
.swal2-image{
  max-height: 350px !important;
  max-width: 350px !important;
}
.swal2-title{
  font-family: 'Muli', sans-serif !important;
  font-size: 1.4em !important;
  margin-bottom: 20px;
}
.swal2-styled{
  border-radius: 2em !important;
  padding-right: 12px !important;
  padding-left: 12px !important;
  font-size: 14px !important;
}
h1{
  font-family: Muli !important;
  font-weight: 500 !important;
}
/*nút a thay thế cho button */
.chedobang { border: 0px solid;
  border-radius: 3em;
  padding: 8px 14px;
  font-size: 14px; margin-left: 5px;   
  background-color: #e7e7e7;
}
.chedobang:hover{
  background-color: #ccc;
}
.swal2-success-circular-line-right{
  background-color: rgb(245 245 245) !important;
}
.swal2-success-circular-line-left{
  background-color: rgb(245 245 245) !important;
}
.swal2-success-fix{
 background-color: rgb(245 245 245) !important;
}
.swal2-icon.swal2-success .swal2-success-ring{
  border: .25em solid rgb(165 220 134) !important;
}
/*bootstrap*/
.btn-outline-primary{
  margin-bottom: 10px;
  width: 100%;
  border-radius: 2em !important;
}
.thongbaotext{
 font-size: 11px!important;
 top: 0!important;
 right: 0!important;
 line-height: 12px;
 opacity: 0.8200000000000001!important;
 left: 0!important;
 display: block!important;
 padding: 0!important;
 bottom: 0!important;
 text-align: center;
}
.thongbaotime{
  text-align: center;
}
.thongbaotime:hover{
  color: #fb5d5d;
}
.thongbaotime:hover .fa-bell,
.thongbaotime .fa-bell-slash {
  display: none;
}
.thongbaotime:hover .fa-bell-slash {
  display: inline;
}


/*SWISTH TRÊN IOS*/
.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #4BD763; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }



.btn {
  padding: 4px 10px;
  border: 0px solid;
  border-radius: 3em;
  padding: 8px 14px;
  font-size: 14px;
}
.btn:hover {
  background-color: #ccc;
}